*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;

    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}